.DS_Store
vendor

terraform-provider-crusoe
bin
*.zip

# Local .terraform directories
**/.terraform/*

# Terraform state files
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Crash log files
crash.log

# Ignore example test variable file used to define project_id
examples/project-variable/tests/terraform.tfvars

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using negated pattern
#
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

# Ignore CLI configuration files
.terraformrc
terraform.rc
terraform

# IDE configs
.idea
.vscode
