# default = everyone is codeowner
* @crusoeenergy/island @crusoeenergy/squads/ccx

.gitlab/CODEOWNERS @lanwall12 @nitper @bsherrycrusoe @ksosnowski3 @dpattishall @rjohn5 @prangel1 @tjensen1 @crusoeenergy/squads/ccx

# more restrictive ownership for adding dependencies and changing ci/build
.gitlab-ci.yml     @lanwall12 @nitper @rjohn5 @prangel1 @tjensen1 @crusoeenergy/squads/ccx
.golangci-lint.yml @lanwall12 @nitper @rjohn5 @prangel1 @tjensen1 @crusoeenergy/squads/ccx
go.mod             @lanwall12 @nitper @rjohn5 @prangel1 @tjensen1 @crusoeenergy/squads/ccx
Makefile           @lanwall12 @nitper @rjohn5 @prangel1 @tjensen1 @crusoeenergy/squads/ccx
Dockerfile         @lanwall12 @nitper @rjohn5 @prangel1 @tjensen1 @crusoeenergy/squads/ccx
Dockerfile.*       @lanwall12 @nitper @rjohn5 @prangel1 @tjensen1 @crusoeenergy/squads/ccx
